apiVersion: v1
kind: ConfigMap
metadata:
  name: v4-failfast-ci
  namespace: v4-failfast-ci
data:
  failfast-ci.yaml: |
    failfast:
      enable_linter: false
      authorized_groups: [COLLABORATOR, MEMBER, OWNER]
      authorized_users: []
      build:
        rebase: true
        on-branches: [master]
        on-comments: [/retest, /test]
        on-labels: [ok-to-test]
        on-pullrequests: ['*']
      debug: false
      env: development
      # failfast_url: https://v4-failfast-ci.k8s.kubespray.com
      # failfast_url: https://failfast.kubespray.root314.com
      failfast_url: https://failfast.kubespray.publicdns.zone

    github:
      context-status: "kubespray-ci"
      context: Kubespray CI
      integration_id: '743'
      secret_token: k8s-kubespray

    gitlab:
      enable_container_registry: true
      enable_issues: false
      enable_jobs: true
      enable_merge_requests: false
      enable_shared_runners: false
      enable_snippets: false
      enable_wiki: false
      gitlab_url: https://gitlab.com
      namespace: failfast-ci
      privacy: internal
      repo: null
      robot-user: falifastci-bot
      runner_tags:
        - failfast-ci
      secret_token: {{ lookup('env', 'FF_GITLAB_SECRET_TOKEN') }}
      timeout: 30
