---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gitlab-light-runner
  namespace: gitlab
data:
  config.toml: |
    concurrent = 16
    check_interval = 1

    [[runners]]
      name = "packet-light"
      url = "https://gitlab.com/ci"
      token = "{{ lookup('env', 'GITLAB_RUNNER_TOKEN_LIGHT') }}"
      executor = "kubernetes"
      output_limit = 65536
      [runners.kubernetes]
        namespace = "gitlab"
        image = "busybox"
        service_account = "gitlab-ci"
        poll_interval = 5
        poll_timeout = 600
        privileged = true
        pull_policy = "if-not-present"
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: gitlab-light-runner
  name: gitlab-light-runner
spec:
  progressDeadlineSeconds: 3600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      name: gitlab-light-runner
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        name: gitlab-light-runner
    spec:
      containers:
      - args:
        - run
        - --listen-address
        - :9252
        image: gitlab/gitlab-runner:latest
        imagePullPolicy: Always
        name: gitlab-runner
        ports:
        - containerPort: 9252
          name: metrics
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /etc/gitlab-runner
          name: config
        - mountPath: /etc/ssl/certs
          name: cacerts
          readOnly: true
      dnsPolicy: ClusterFirst
      serviceAccount: gitlab-ci
      serviceAccountName: gitlab-ci
      volumes:
      - configMap:
          defaultMode: 420
          name: gitlab-light-runner
        name: config
      - hostPath:
          path: /usr/share/ca-certificates/mozilla
          type: ""
        name: cacerts
