---
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ api_cert }}
    server: {{ api_url }}
  name: kubespray-ci
contexts:
- context:
    cluster: kubespray-ci
    user: kubernetes-admin
  name: kubespray-ci
current-context: kubespray-ci
kind: Config
preferences: {}
users:
- name: {{ api_user }}
  user:
    client-certificate-data: {{ api_user_cert }}
    client-key-data: {{ lookup('env', 'API_CLIENT_KEY_DATA') }}
